.button {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-green);
    color: var(--color-light);
    min-height: 35px;

    &:hover {
        cursor: pointer;
    }
}