.catalog {
  margin-inline: clamp(20px, 4vw, 40px);

  &__table {
    max-width: 1200px;
  }

  &__table >tr > td{
    height: 25px;
    border: 1px solid black;
    padding-inline: 5px;
  }

  &__button-edit {
    background-color: var(--color-green);
    color: var(--color-light);
    border-radius: var(--border-radius);
    border: none;
    padding: 8px;
    margin-bottom: 6px;
  }

  &__button-remove {
    background-color: rgb(242, 77, 77);
    color: var(--color-light);
    border-radius: var(--border-radius);
    border: none;
    padding: 8px;
  }

  &__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  &__modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  &__modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }

}